<section class="demo-section">

  <header class="section-header">
    <h3 class="section-header-title">Basic usage</h3>
  </header>

  <div class="scroll-container-wrapper">
    <div class="scroll-container basic-container" #basicScroll>
      <div class="scroll-content">1</div>
      <div class="scroll-content">2</div>
      <div class="scroll-content">3</div>
      <div class="scroll-content">4</div>
      <div class="scroll-content">5</div>
      <div class="scroll-content">6</div>
      <div class="scroll-content">7</div>
      <div class="scroll-content">8</div>
      <div class="scroll-content">9</div>
      <div class="scroll-console">
        <mat-form-field color="accent">
          <input matInput type="number" min="1" max="9" name="basic-scroll-navigator" [(ngModel)]="basic.nth" />
        </mat-form-field>
        <button type="button" mat-raised-button (click)="basicSmoothScroll()" color="accent">Go!</button>
      </div>
    </div>
  </div>

  <form class="console-box">
    <div class="console-box-item">
      <h4 class="item-title">duration</h4>
      <mat-slider name="basic-duration" min="0" max="5000" step="100" thumbLabel [(ngModel)]="basic.options.duration" [displayWith]="durationLabel"></mat-slider>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">timing-function</h4>
      <mat-form-field color="accent">
        <input matInput type="text" name="basic-timing-function" [(ngModel)]="basic.options.timingFunction" />
      </mat-form-field>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">x align</h4>
      <mat-form-field color="accent">
        <select matNativeControl name="basic-align-x" [(ngModel)]="basic.options.alignX">
          <option value="start">start</option>
          <option value="center">center</option>
          <option value="end">end</option>
        </select>
      </mat-form-field>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">y align</h4>
      <mat-form-field color="accent">
        <select matNativeControl name="basic-align-y" [(ngModel)]="basic.options.alignY">
          <option value="start">start</option>
          <option value="center">center</option>
          <option value="end">end</option>
        </select>
      </mat-form-field>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">stop on arrival</h4>
      <mat-slide-toggle name="basic-arrival" [(ngModel)]="basic.options.stopOnArrival"></mat-slide-toggle>
    </div>
  </form>

</section>


<section class="demo-section">

  <header class="section-header">
    <h3 class="section-header-title">Directive usage</h3>
  </header>

  <div class="scroll-container"
    [ngxSmoothScroll]="directive.options"
    childSelector=".scroll-content"
    [autoDetectDirection]="directive.detectDirection"
    [actionDirection]="directive.actionDirection"
    [skip]="directive.skip"
    [smooth-wheel]="directive.wheel"
    [smooth-keydown]="directive.keydown"
    [smooth-mouse]="directive.mouse && wrapper"
    [smooth-touch]="directive.touch"
    [autoDetect]="directive.autoDetect"
    [autoInterruption]="directive.autoInterruption"
    (beforeAnimate)="animationState(true)"
    (afterAnimate)="animationState(false)"
  >
    <div class="scroll-wrapper" #wrapper [attr.direction]="directive.detectDirection">
      <div class="scroll-content">1</div>
      <div class="scroll-content">2</div>
      <div class="scroll-content">3</div>
      <div class="scroll-content">4</div>
      <div class="scroll-content">5</div>
      <div class="scroll-content">6</div>
      <div class="scroll-content">7</div>
      <div class="scroll-content">8</div>
      <div class="scroll-content">9</div>
    </div>
  </div>

  <form class="console-box">
    <div class="console-box-item">
      <h4 class="item-title">Interrupt</h4>
      <button mat-raised-button type="button" (click)="interrupt()" [disabled]="!directive.animating" color="primary">Interrupt!</button>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">[bind] wheel</h4>
      <mat-slide-toggle name="directive-wheel" [(ngModel)]="directive.wheel"></mat-slide-toggle>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">[bind] keydown</h4>
      <mat-slide-toggle name="directive-keydown" [(ngModel)]="directive.keydown"></mat-slide-toggle>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">[bind] mouse</h4>
      <mat-slide-toggle name="directive-mouse" [(ngModel)]="directive.mouse"></mat-slide-toggle>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">[bind] touch</h4>
      <mat-slide-toggle name="directive-touch" [(ngModel)]="directive.touch"></mat-slide-toggle>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">duration</h4>
      <mat-slider name="directive-duration" min="0" max="5000" step="100" thumbLabel [(ngModel)]="directive.options.duration" [displayWith]="durationLabel"></mat-slider>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">timing-function</h4>
      <mat-form-field color="accent">
        <input matInput type="text" name="directive-timing-function" [(ngModel)]="directive.options.timingFunction" />
      </mat-form-field>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">scroll direction</h4>
      <mat-form-field color="accent">
        <select matNativeControl name="directive-scroll-direction" [(ngModel)]="directive.detectDirection">
          <option value="horizontal">horizontal</option>
          <option value="vertical">vertical</option>
        </select>
      </mat-form-field>
    </div>
    <div class="console-box-item" *ngIf="directive.touch || directive.mouse">
      <h4 class="item-title">action direction</h4>
      <mat-form-field color="accent">
        <select matNativeControl name="directive-direction" [(ngModel)]="directive.actionDirection">
          <option value="mixed">mixed</option>
          <option value="horizontal">horizontal</option>
          <option value="vertical">vertical</option>
        </select>
      </mat-form-field>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">skip</h4>
      <mat-form-field color="accent">
        <input matInput type="number" name="directive-skip" [(ngModel)]="directive.skip" />
      </mat-form-field>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">auto detect</h4>
      <mat-slide-toggle name="directive-detection" [(ngModel)]="directive.autoDetect"></mat-slide-toggle>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">auto interruption</h4>
      <mat-slide-toggle name="directive-interruption" [(ngModel)]="directive.autoInterruption"></mat-slide-toggle>
    </div>
    <div class="console-box-item">
      <h4 class="item-title">stop on arrival</h4>
      <mat-slide-toggle name="directive-arrival" [(ngModel)]="directive.options.stopOnArrival"></mat-slide-toggle>
    </div>
  </form>

</section>